<!DOCTYPE html>
<html>
	<head>
		<title>Image Number Detector</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	
	<body>
		<div class="center">
			<h1>Image Number Detector!</h1>
			<p>Draw any number between 0 and 9 and 
			click "Detect".</p>

			<canvas id="canvas" 
				width="250" 
				height="220">
			</canvas>

			<p id="result"></p>
			
			<input type="button" 
				id="clearCanvas" 
				value="Clear"
			/>
			
			<input type="button" 
				id="submitCanvas" 
				value="Detect"
			/>
		</div>

		<img class="loader" src="/static/loader.gif" alt="loading...">

		<footer>
			<p>This application uses a convolutional
			neural network to detect a number from an
			image. The project and more technical details
			can be found here. (ADD GITHUB LINK!)
		</footer>

		<script src="/static/jquery.js"></script>
		<script src="/static/scripts.js"></script>
	</body>
</html>
