<!DOCTYPE html>
<html>
	<head>
		<title>Image Number Detector</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	
	<body>
		<div class="center">
			<h1>Image Number Detector!</h1>
			<p>Draw any number from 0 to 9 and 
			click "Detect".</p>

			<canvas id="canvas" 
				width="250" 
				height="220">
			</canvas>

			<p id="result"></p>

			<table id="percentages-table">
				<tr>
					<th>0</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
				</tr>
				<tr>
					<th id=0></th>
					<th id=1></th>
					<th id=2></th>
					<th id=3></th>
					<th id=4></th>
					<th id=5></th>
					<th id=6></th>
					<th id=7></th>
					<th id=8></th>
					<th id=9></th>
				</tr>
			</table>
			
			<input type="button" 
				id="clearCanvas" 
				value="Clear"
			/>
			
			<input type="button" 
				id="submitCanvas" 
				value="Detect"
			/>
		</div>

		<img class="loader" src="/static/loader.gif" alt="loading...">

		<footer>
			<p>This application uses a convolutional
			neural network to detect a number from an
			image. The project and more technical details
			can be found <a href="https://github.com/
			EliasHaaralahti/image-number-detector">
			here</a>.
		</footer>

		<script src="/static/jquery.js"></script>
		<script src="/static/scripts.js"></script>
	</body>
</html>
